@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

.title {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  font-weight: 600;
}

body {
  background-color: #121212;
  color: #ffffff;
  font-family: "Comfortaa", cursive;
}

.info {
  text-align: center;
  margin-top: 20px;
  line-height: 1.5;
}

.copylink {
  text-align: center;
  margin-top: 30px;
  line-height: 1.5;
}

.copy {
  background-color: #121212;
  border-radius: 7px;
  border-color: #0084ff;
  color: #ffffff;
  padding: 10px 15px;
  transition-duration: 0, 4s;
}

.copy:hover {
  background-color: #0084ff;
  transition-duration: 0.4s;
}

.naivbar {
  text-align: right;
  margin-top: -30px;
  color: #ffffff;
}

.link {
  color: #0084ff;
  text-decoration: none;
}

.link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.workinprogress {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .naivbar {
    text-align: center;
    margin-top: 25px;
  }
}
